$body-background-color: black;
$header-background-color: white;
$sidebar-background-color: #264E66;
$content-background-color: #EBEFF4;
$background-color: #F4F7F9;

$border-color: #E3E7EC;

$color-cyan: #54D0FF;
$color-green: #00B063;

$max-width: 1250px;
$min-width: 710px;
$sidebar-width: 70px;

$base-padding: 5px;